#blog h3, h4 {
	text-align: center;
}

#blog .contenedor {
	display: flex; /*Para que las imagenes estén en una sola linea*/
	justify-content: center;
	flex-wrap: wrap; /*Si las imagenes están en una sola linea, las ajusta al disminuir el tamaño de la pagina*/
}

#blog article {
	margin: 5px;
}

#blog img {
	width: 100%;
	max-width: 300px;
}

#blog {
	background-image: radial-gradient(#FFFFFF, #FFFFFF);
	text-align: center;
	padding: 15px;
}

.blog-peti {
	margin: 10px;
}

.blog-peti img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 7px solid #fff;
}

/*Aqui empieza el responsive*/
@media (min-width: 480px) {
	.blog-peti {
		width: 40%;
	}
}

@media (min-width: 1024px) {
	.blog-peti {
		width: auto;
	}
}