@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);
@import url(nosotros.css);
@import url(recuadros.css);

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box; /*Se utiliza esta propiedad para que al aplicar borde o relleno se aplique al mismo modelo de caja y no se salga. Se contenga dentro del mismo */
}

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	width: 100%;
	height: 50px;
	background: ;
	color: #fff;
	position: fixed; /*Que el menú se quede arriba y nunca se mueva*/
	top: 0;
	left: 0;
	z-index: 100; /*Que la capa quede siempre por encima de todas*/
}

.contenedor {
	width: 98%; /*Dejar un poco de espacio para el momento del ajuste*/
	margin: auto; /*Centra la margen*/
	
}

h1 {
	float: left; /*Pone a flotar el icono del menu*/
}

header .contenedor {
	display: table;
}

section { /*Se crea cuando se empiece a crear css del banner*/
	width: 100%;
	margin-bottom: px;
}

#bienvenidos {
	text-align: center;
	
}

/*Toda esta sección es del FOOTER*/
footer .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 25px;
}

.copy {
	font-size: 20px;

}

.sociales {
	width: 100%;
	text-align: center;
	font-size: 28px;
}

.sociales a {
	color: #333;
	text-decoration: none;
}

/*Aqui empieza el responsive*/
@media (min-width: 768px) {
	.sociales {
		width: auto;
	}

	footer .contenedor {
		justify-content: space-between;
	}
}

@media (min-width: 1024px) {
	.contenedor { /*Alinea todos los contenedores y los deja más organizados*/
		width: 1000px;
	}
}